source https://www.nuget.org/api/v2
strategy : max
framework : netcore22

group main
    nuget EasyNetQ
    nuget Nancy
    nuget Microsoft.Extensions.Configuration
    nuget Microsoft.Extensions.Configuration.Json
    nuget Microsoft.AspNetCore.Server.Kestrel
    nuget Microsoft.AspNetCore.Owin

group testing
    nuget NUnit
    nuget FakeItEasy
    nuget FluentAssertions

group tools
    nuget Cake

group addins
    nuget Cake.Paket

group modules
    nuget Cake.Paket.Module